<div>
    <div id="upperButtonRow" style="float: right;">


        <button ng-if="vm.isOwner()" type="button" ui-sref="project-detail.projectassignment({id:vm.project.id})"
                class="btn btn-default" style="float: right;">
            <span class="glyphicon glyphicon-user"></span>
            <span class="hidden-xs hidden-sm">Manage Project Members</span>
        </button>
        <!--ng-if=""-->
        <button  ng-if="vm.isTranslator()" class="btn btn-default" ng-click="vm.goToTranslate()">
            <span class="glyphicon glyphicon-bookmark"></span>
            <span>
                        Start Translating
        </span>
        </button>
    </div>
    <h2><a ui-sref="project">Projects</a> / {{vm.project.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Owner</span></dt>
        <dd>
            {{vm.ownerDetails.name}}
        </dd>
        <dt><span>My roles</span></dt>
        <dd>
            {{vm.roles.join(", ")}}
        </dd>
        <!--<dt><span>Sprache</span></dt>-->
        <!--<dd>-->
        <!--{{vm.project.release.id}}-->
        <!--</dd>-->
    </dl>

    <div ui-view="definitions">
        <!-- placeholder for definition list -->
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <!--<button ng-show="vm.isOwner()" type="button" ui-sref="project-detail.edit({id:vm.project.id})" class="btn btn-primary">-->
    <!--<span class="glyphicon glyphicon-pencil"></span>-->
    <!--<span class="hidden-xs hidden-sm"> Edit</span>-->
    <!--</button>-->
</div>
