<div>
    <h2>My Projects</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="project.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Project
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>Owner / Name</span></th>
                <th><span>Roles</span></th>
                <th><span>Upcoming Release</span></th>
                <th><span>Progress</span></th>
                <th><span>Languages</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in vm.projects track by project.id">
                <td><a ui-sref="project-detail({projectId:project.id})">{{project.ownerName}} / {{project.name}}</a></td>
                <td>
                        <span ng-if="!vm.isOwner(project.ownerId)" ng-repeat="role in project.roles">
                                {{role}}{{$last ? '' : ', '}}
                        </span>
                    <span ng-if="vm.isOwner(project.ownerId)">
                                Owner
                        </span>
                </td>

                <td>
                    <!-- <a ui-sref="project-d.release-detail({projetcId:vm.getCurrentReleaseByProjectId(project.id).projectId})">
                             <span class="badge">{{vm.getCurrentReleaseByProjectId(project.id).versionTag}}</span>
                         </a>-->

                    <a>
                        <span class="badge">{{vm.getCurrentReleaseByProjectId(project.id).versionTag}}</span>
                    </a>
                </td>
                <td>
                    <div class="progress m-b-sm">
                        <div style="width: {{vm.getCurrentReleaseProgress(project.id)}}%;"
                             class="progress-bar">{{vm.getCurrentReleaseProgress(project.id)}}%
                        </div>
                    </div>
                </td>
                <td>
                        <span ng-repeat="languages in project.languages">
                            <!--<a class="form-control-static" ui-sref="language-detail({id: languages.id})">-->
                                {{languages.code}}{{$last ? '' : ', '}}
                            <!--</a>-->
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="project-detail({projectId:project.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button ng-if="vm.isOwner(project.ownerId)" type="submit"
                                ui-sref="project.edit({projectId:project.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button ng-if="vm.isOwner(project.ownerId)" type="submit"
                                ui-sref="project.delete({projectId:project.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <a ng-if="vm.isDeveloper(project)" ng-href="{{vm.baseUrl}}/api/projects/{{project.id}}/release/null/language/null"
                           class="btn btn-success btn-sm" href="">
                            <span class="glyphicon glyphicon-download"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
