<div>
    <h2>Releases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="release.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Release
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Description</span></th>
                    <th><span>Version Tag</span></th>
                    <th><span>Is Current Release</span></th>
                    <th><span>Due Date</span></th>
                    <th><span>Languages</span></th>
                    <th><span>Project</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="release in vm.releases track by release.id">
                    <td><a ui-sref="release-detail({id:release.id})">{{release.id}}</a></td>
                    <td>{{release.description}}</td>
                    <td>{{release.versionTag}}</td>
                    <td>{{release.isCurrentRelease}}</td>
                    <td>{{release.dueDate | date:'medium'}}</td>
                    <td>
                        <span ng-repeat="languages in release.languages">
                            <a class="form-control-static" ui-sref="language-detail({id: languages.id})">{{languages.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:release.projectId})">{{release.projectId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="release-detail({id:release.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="release.edit({id:release.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="release.delete({id:release.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
