<div>
    <h2><a ui-sref="project">Projects</a> /
        <a ui-sref="project-detail({projectId:{{vm.project.id}}})">{{vm.project.name}}</a> /
        Translation</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <!--<dt><span>Release</span></dt>-->
        <!--<dd>-->
        <!--{{vm.currentRelease.versionTag}}-->
        <!--</dd>-->
        <dt><span>Language</span></dt>
        <dd>
            {{vm.language.code}}
        </dd>
    </dl>
    <div align="column" ng-if="!vm.nextTranslations">
        <h4>All definitions have been translated for the Release and Language.</h4>
        <button type="button"
                ui-sref="{{ vm.previousState }}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
    </div>
    <div align="column" ng-if="vm.nextTranslations">

        <div ng-repeat="translation in vm.nextTranslations track by translation.id">
            <div align="column" class="dl-horizontal jh-entity-details">
                <span class="label label-success">Code: {{translation.definitionCode}}</span>
                <span class="label label-warning">PLACEHOLDER FOR RELEASE</span>
                <div align="row">
                    <div style="width: 49%; float: left; ">{{translation.originalText}}</div>
                    <div style="float: left;" ng-include="'content/images/ic_play_arrow_black_36px.svg'">f</div>
                    <a href="#" submit-on-enter="true" blur="submit" buttons="no" onaftersave="vm.saveTranslation(translation)" editable-textarea="translation.translatedText"
                       e-rows="2" e-cols="40">
                        <pre style="width: 30%;" >{{ translation.translatedText|| 'NOT TRANSLATED' }}</pre>
                    </a>
                    <hr/>
                </div>
            </div>
        </div>

    </div>
</div>
