<div>
    <h2><a ui-sref="project">Projects</a> /
        <a ui-sref="project-detail({projectId:{{vm.project.id}}})">{{vm.project.name}}</a> /
        Translation &gt; {{vm.language.code}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt ng-show="vm.currentRelease"><span>Release</span></dt>
        <dd ng-show="vm.currentRelease">
            {{vm.currentRelease.versionTag}}
        </dd>
        <dt><span>Language</span></dt>
        <dd>
            {{vm.language.code}}
        </dd>
    </dl>
    <div align="column" ng-if="!vm.nextTranslations.length">
        <h4>All definitions have been translated for the Release and Language.</h4>
        <button type="button"
                ui-sref="{{ vm.previousState }}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
    </div>
    <div class="container-fluid" ng-if="vm.nextTranslations.length">
        <div ng-repeat="translation in vm.nextTranslations track by translation.id">
            <div class="row">
                <div class="col-md-12">
                    <span ng-class="translation.updateNeeded ? ((translation.updateNeeded && translation.translatedText) ? 'label-warning' : 'label-info') : 'label-success'"
                          class="label" style="font-weight: normal;">{{translation.definitionCode}}</span>
                    <span class="badge" style="font-size: 11px; font-weight: normal;">{{translation.release}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" style="margin-top: 5px;">
                    <span>{{translation.originalText}}</span>
                </div>
                <div class="col-md-1" style="margin-top: 7px;"><span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="col-md-6">
                    <a href="#" submit-on-enter="true" blur="submit" buttons="no"
                       onaftersave="vm.saveTranslation(translation)" editable-textarea="translation.translatedText"
                       e-rows="2" e-cols="40">
                        <pre style="white-space: pre-wrap;">{{ translation.translatedText|| ' ' }}</pre>
                    </a>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
