<div>
    <h2><a ui-sref="project">Projects</a> / <a ui-sref="project-detail({projectId:vm.project.id})">{{vm.project.name}}</a> / Project Members</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button ng-if="vm.isOwner()" class="btn btn-primary" ui-sref="project-detail.projectassignment.new({projectId:vm.project.id})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Assign new Role
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>User</span></th>
                    <th><span>Assigned Role</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectassignment in vm.projectassignments track by projectassignment.id">
                    <td>
                        {{getAssignedUserByID(projectassignment.assignedUserId)}}
                        {{projectassignment.assignedUserId}} - {{assignedUser.login}}
                    </td>
                    <td>{{projectassignment.role}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button ng-if="vm.isOwner()" type="submit"
                                    ui-sref="project-detail.projectassignment.delete({id:projectassignment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
