
<div>
    <h2><a ui-sref="project">Projects</a> / <a ui-sref="project-detail({projectId:vm.project.id})">{{vm.project.name}}</a> / {{vm.definition.code}}
        <!--<a ui-sref="release-detail({id:vm.definition.releaseId})">-->
            <!--<span class="badge" uib-tooltip="{{::vm.getReleaseTooltip(vm.release)}}">-->
            <!--{{vm.release.versionTag}}</span>-->
        <!--</a>-->
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Original Text</span></dt>
        <dd>
            <span>{{vm.definition.originalText}}</span>
            <button type="button" ng-if="vm.isDeveloper()"
                    ui-sref="project-detail.definition-detail.edit({definitionId:vm.definition.id})"
                    class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm"> </span>
            </button>
        </dd>
    </dl>


    <h3>Translations</h3>

    <div ng-repeat="language in vm.release.languages track by language.id">
        <dl class="dl-horizontal">
            <dt><span>{{language.code}}</span></dt>
            {{::vm.getTranslation(language.id)}}
            <dd><span>{{translation ? translation.translatedText : '-'}}</span>
                <span ng-show="translation.updateNeeded" class="label label-warning"><br>Update needed</span></dd>
        </dl>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
