<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Available languages</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="language in vm.project.languages | orderBy:'code'" style="float:left;">
                <div class="no-padding-left" style="/*background-color: rgb(157,157,157);*/ border-radius: 4px; padding: 3px 7px; display: inline-block">
                    <div style="float: left; height: 100%; /*color: white;*/">{{language.code}}:&nbsp</div>
                    <uib-progressbar value="vm.getProgressValue(language)" max="vm.getMaxProgressValue()" animate="false"
                                     type="{{vm.hasUpdateNeeded(language) ? 'warning' : (vm.getProgressValue(language) == vm.getMaxProgressValue() ? 'success' : 'default')}}"
                                     style="min-width: 125px; margin-bottom: 0; float: left">
                        <span ng-style="vm.getProgressValue(language) > 0 ? {'color':'white'} : {'color':'black'}" style="white-space:nowrap; min-width: 2em;">{{vm.getProgressValue(language)}} / {{vm.getMaxProgressValue()}}</span>
                    </uib-progressbar>
                    &nbsp;<button ng-if="vm.isDeveloper()" class="btn btn-default btn-xs"
                                  ui-sref="project-detail.delete-language({languageId:language.id})"
                                  style="height: 20px; margin-top: -2px;">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                </div>&nbsp;
            </div>
            <button ng-if="vm.isDeveloper()" class="btn btn-default btn-xs" ui-sref="project-detail.new-language" style="margin-top: 2px;">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Add language</span>
            </button>
        </div>
    </div>
    <div>
        <h3>Definitions
            <button ng-disabled="vm.releases.length == 0" ng-if="vm.isDeveloper()" class="btn btn-primary btn-sm" ui-sref="project-detail.new-definition({releaseId:vm.activeReleaseId})">
                <span class="glyphicon glyphicon-plus"></span>
                <span>New</span>
            </button>
            <a ng-if="vm.definitions.length > 0" class="dropdown">
                <select class="btn btn-default" ng-model="vm.selectedRelease"
                        data-ng-options="release.versionTag for release in vm.releases" ng-change="vm.setSelectedRelease()">
                    <option value="">NONE</option>
                </select></a>
            <div ng-if="vm.isDeveloper() && vm.definitions.length > 0" class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                    <span class="glyphicon glyphicon-download"></span>
                    <span class="hidden-xs">Download</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="{{vm.baseUrl}}/api/projects/{{vm.project.id}}/export/android">Android</a></li>
                    <li role="menuitem"><a href="{{vm.baseUrl}}/api/projects/{{vm.project.id}}/export/ios">IOs</a></li>
                    <li role="menuitem"><a href="{{vm.baseUrl}}/api/projects/{{vm.project.id}}/export/web">Web</a></li>
                </ul>
            </div>
            <label class="btn btn-default btn-file btn-sm">
                Select File <input type="file" name="file" class="hidden" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </label>
            <button class="btn btn-primary btn-sm" ng-click="vm.uploadThis()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Upload</span>
            </button>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="originalText"><span>Original Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th><span>Translation Status</span></span></th>
                <th><span>Release</span></span></th>
                <th></th>
            </tr>
                </thead>
                <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="definition in vm.definitions | filter: vm.filterByVersionTagFunction()">
                    <!--<td>{{definition.id}}</td>-->
                    <td><a ui-sref="project-detail.definition-detail({definitionId:definition.id})">{{definition.code}}</a></td>
                    <td>{{definition.originalText}}</td>
                    <td>
                        <span ng-repeat="translation in vm.getTranslations(definition) | orderBy: 'languageCode'">
                            <span class="label" ng-class="translation.translatedText ? (translation.updateNeeded ? 'label-warning' : 'label-success') : 'label-default'">
                                {{translation.languageCode}}</span>
                        </span>
                    </td>
                    <td>
                        <span class="badge" uib-tooltip="{{::vm.getReleaseTooltip(definition.release)}}">
                        {{vm.getReleaseName(definition.releaseId)}}
                        </span>
                    </td>
                    <td>
                        <!--<a ui-sref="release-detail({id:definition.releaseId})">-->
                        <!--<span class="badge" uib-tooltip="{{::vm.getReleaseTooltip(definition.release)}}">-->
                        <!--{{definition.release.versionTag}}-->
                        <!--</span>-->
                        <!--</a>-->
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-detail.definition-detail({definitionId:definition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button ng-if="vm.isDeveloper()" type="submit"
                                    ui-sref="project-detail.edit-definition({definitionId:definition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button ng-if="vm.isDeveloper()" type="submit"
                                    ui-sref="project-detail.delete-definition({definitionId:definition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
